{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>




    <link rel=" stylesheet" href="{% static 'exam/resource.css'%}">
    <!-- <div class="shortcuts" id="shortcut">
        <a href="#site1"><button class="custombtn btn-2">Website tutorials</button></a>
        <a href="#site2"> <button class="custombtn btn-2">Subject tutorials</button></a>
        <a href="#site3"> <button class="custombtn btn-2">Others</button></a>
    </div> -->
    <div class="container">

        <div class="resource">
            <h1>RESOURCES</h1>
        </div>
        <div class="site" id="site1">
            <small>WEBSITE TUTORIALS</small>
            </h2>
        </div>
        <ul class="responsive-table">

            <li class="table-row">
                <div class="col col-1">Website introduction</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem ipsum dolor sit amet.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem ipsum dolor sit.
                </div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem ipsum dolor sit amet.
                </div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem ipsum dolor sit amet consectetur.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
        </ul>

        <div class="site " id="site2"><small>Subject TUTORIALS</small></h2>
        </div>
        <ul class="responsive-table">

            <li class="table-row">
                <div class="col col-1">Subject</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
        </ul>


        <div class="site " id="site3"><small>Others</small></h2>
        </div>
        <ul class="responsive-table">

            <li class="table-row">
                <div class="col col-1">Others</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>

            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
            <li class="table-row">
                <div class="col col-1">Lorem, ipsum dolor.</div>
                <div class="col col-2"> <button class="custom-btn btn-1">Watch vedio</button><button
                        class="custom-btn btn-1">View pdf</button></div>
            </li>
        </ul>
    </div>
</body>

</html>
