{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aim2Crack-Quizzes</title>
  <link rel="icon" href="{%static 'exam/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  
<link rel="stylesheet" href="{% static 'exam/teacher1.css'%}">
    <script src="https://kit.fontawesome.com/4d0c408dff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'exam/navbar.css'%}">
</head>

<body>
     <!-- navbar of the site  -->
      <header style="    background: #434047;">
        <img class="logo" src="{% static 'exam/Aim2Crack-logo-1.png'%}" alt="logo" title="home" >

        <nav class="main-menu">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
{% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content"  style="    background: #434047;">
                        <a href="https://www.aim2crack.in/c/some/">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
 {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content"  style="    background: #434047;">
                         <a href="{%url 'placement'%}" >
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                       
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content"  style="    background: #434047;">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'team'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}">
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="#" >
                            <span>Resources</span>
                            <small>Tutorials to aid!</small>
                        </a>
                    </div>
                </li>

                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>

        <div class="click-dropdown profile-dropdown">
            <button onclick="myFunction()" class="click-dropbtn">
                <a  style="    background: #434047;">
                    <span class="material-icons md-24">
                        person
                    </span>
                    {% if user.is_authenticated %}
                    <p class="profile">
                        Profile
                    </p>
                     {%else%}
                     <p class="profile">
                        Signup
                    </p>
                    {%endif%}
                    <span class="material-icons-outlined">
                        expand_more
                    </span>
                </a>
            </button>
            <div id="myDropdown" class="click-dropdown-content"  style="    background: #434047;">
 {% if user.is_authenticated %}
                <a href="{%url 'profile' request.user.profile.id %}" >
                    <span class="btn-txt">Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'logout'%}" >
                    <span class="btn-txt">Logout</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%else%}
<a href="{%url 'register'%}" >
                    <span class="btn-txt">Create Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'login'%}" >
                    <span class="btn-txt">LogIn</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%endif%}
            </div>
        </div>

        <span class="ham" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </header>

    <div id="mySidenav" class="sidenav"  style="    background: #434047;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav class="main-menu-1">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
 {% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content">
                        <a href="{%url 'quizzes'%}">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
   {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content">
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'about'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Resources</span>
                            <small>Tutorials to aid</small>
                        </a>
                    </div>
                </li>
{% if user.is_authenticated %}
                <li><a href="{%url 'profile' request.user.profile.id %}">Account</a></li>
                <li><a href="{%url 'logout'%}">Logout</a></li>
  {%else%}
                <li><a href="{%url 'register'%}">Create Account</a></li>
                <li><a href="{%url 'login'%}">LogIn</a></li>
{%endif%}
                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>


    </div>



    <section id="parallax">
<div class="parallax_inner">
    <div id="quote">
        <b>Welcome </b><br>
       Excited?Let's get started!<br>
    </div>
<!--     <div id="create-quiz">
        <input type="text" id="link-box" placeholder="Write the link">
       
    </div> -->
</div>
</section>
<div class="heading">
    <h1>Your Quizzes</h1>
    <div class="buttons">
        <button type="button" class="simple_btn">Subjective Quizzes</button>
        <button type="button" class="simple_btn">Placement Quizzes</button>
    </div>
<section class="simple">
    {%for quiz in Simple%}
    <div class="response">
        <a href="../c/{{quiz.det.link}}/result">
        <div class="box_1">
            <img class="img" src="{%static 'exam/back_quiz/'%}{{quiz.ran}}.jpg" alt="">
            <a href="../c/{{quiz.det.link}}/result" id ="s{{quiz.ran}}" class="card__heading">{{quiz.det.course_name}}
            </a>
            <div class="card__details">
                <ul>
                    <li><a href="../c/{{quiz.det.link}}/result">{{quiz.det.topic_name}}</a></li>
                    <hr>
                    <li {%ifequal quiz.det.marks 0 %} style="color:red;"{%endifequal%}>Your Score:{{quiz.det.marks}}/{{quiz.det.total}}</li>
                    <hr>
                    <li>Max Score: {{quiz.det.maxima}} <br>Average Score: {{quiz.det.mean}}</li>
                </ul>
            </div>
        </div>
        </a>
    </div>
    {%endfor%}
</section>
<section class="simple">
    {%for quiz in placement%}
    <div class="response">
        <a href="../c/{{quiz.det.link}}/result">
        <div class="box_1">
            <img class="img" src="{%static 'exam/back_quiz/'%}{{quiz.ran}}.jpg" alt="">
            <p id ="s{{quiz.ran}}" class="card__heading">{{quiz.det.course_name}}
            </p>
            <div class="card__details">
                <ul>
                    <br>
                    <hr>
                    <li>Your Score:{{quiz.det.marks}}/{{quiz.det.total}}</li>
                    <hr>
                    <li>Max Score: {{quiz.det.maxima}} <br>Min Score: {{quiz.det.minima}} <br>Mean: {{quiz.det.mean}}</li>
                </ul>
            </div>
        </div>
            </a>
    </div>
    {%endfor%}
</section>
<script>
    let sections = document.getElementsByClassName('simple');
    let sectionbtn = document.getElementsByClassName('simple_btn');

    for (let x = 1; x < sections.length; x++) {
        sections[x].style.display = "none";
    }
    for (let i = 0; i < sections.length; i++) {
        sectionbtn[i].addEventListener('click', function (e) {
            sections[i].style.display = "flex";
            for (let x = 0; x < sections.length; x++) {
                if (i != x) {
                    sections[x].style.display = "none";
                }
            }
        });
    }
</script>

</body>
<script src = '{% static "exam/code_generator.js"%}'></script>



    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</html>
