{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{static 'exam/favicon.ico'}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--     <link rel="stylesheet" href="{% static 'public/quiz_styling.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/4d0c408dff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{%static 'exam/navbar.css'%}">
    {% if title %}
         <title>Aim2Crack - {{ title }}</title>
    {% else %}
         <title>Aim2Crack</title>
    {% endif %}
<!--     <link rel="stylesheet" href="{% static 'exam/home.css' %}"> -->
    {% block styles %}{%endblock%}
    <style>
       
        .icons a{
text-decoration: none;
        }
    </style>
</head>

<body>
    <!-- navbar of the site  -->
      <header>
        <img class="logo" src="{% static 'exam/Aim2Crack-logo-1.png'%}" alt="logo" title="home" >

        <nav class="main-menu">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
{% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content">
                        <a href="https://www.aim2crack.in/c/some/">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
 {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content">
                         <a href="{%url 'placement'%}" >
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                       
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'team'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}">
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="#" >
                            <span>Resources</span>
                            <small>Tutorials to aid!</small>
                        </a>
                    </div>
                </li>

                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>

        <div class="click-dropdown profile-dropdown">
            <button onclick="myFunction()" class="click-dropbtn">
                <a>
                    <span class="material-icons md-24">
                        person
                    </span>
                    {% if user.is_authenticated %}
                    <p class="profile">
                        Profile
                    </p>
                     {%else%}
                     <p class="profile">
                        Signup
                    </p>
                    {%endif%}
                    <span class="material-icons-outlined">
                        expand_more
                    </span>
                </a>
            </button>
            <div id="myDropdown" class="click-dropdown-content">
 {% if user.is_authenticated %}
                <a href="{%url 'profile' request.user.profile.id %}" >
                    <span class="btn-txt">Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'logout'%}" >
                    <span class="btn-txt">Logout</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%else%}
<a href="{%url 'register'%}" >
                    <span class="btn-txt">Create Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'login'%}" >
                    <span class="btn-txt">LogIn</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%endif%}
            </div>
        </div>

        <span class="ham" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav class="main-menu-1">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
 {% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content">
                        <a href="{%url 'quizzes'%}">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
   {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content">
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'about'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Resources</span>
                            <small>Tutorials to aid</small>
                        </a>
                    </div>
                </li>
{% if user.is_authenticated %}
                <li><a href="{%url 'profile' request.user.profile.id %}">Account</a></li>
                <li><a href="{%url 'logout'%}">Logout</a></li>
  {%else%}
                <li><a href="{%url 'register'%}">Create Account</a></li>
                <li><a href="{%url 'login'%}">LogIn</a></li>
{%endif%}
                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>


    </div>


    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    
    {% block content %}{% endblock %}
    {% block taker %}{% endblock %}
</body>
<script src = "{% static 'public/script.js'%}">
</script>
{% block scripts%}{% endblock %}
</html>
