{% extends "public/base.html" %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'public/New.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{%static 'exam/navbar.css'%}">
<script src="https://kit.fontawesome.com/4d0c408dff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%endblock%}
{% block content %}
<style>
    body{
    position: relative;
}
   
   
    .type_box>div{
        margin:5px 7px;
    }
    .type_box{
        display: flex;
        flex-wrap: wrap;
    }

    #options_all {
        display: none;
    }
    
    [type="radio"] {
      visibility: visible;
    }
    .option_line {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f0f0f0;
        padding: 5px 1.4rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .correct{
    margin-right: 5px;
    }

/*     #options_doing {
        width: 100%;
    } */

    .options_written {
       width: 60%;
        min-width: 300px;
        padding: 0.3rem;
        background: none;
        border: none;
        outline: none;
        font-size: 1rem;
    }
    .explanation{
        margin-top: 1rem;
        width: 80%;
        margin-bottom: 2rem;
    }
     #options_doing{
        width: 72%;
    }
    .option_line{
        transition: all 0.5s ease;
    }
    .option_line:hover{
        transform: scale(1.1,1.1);
    }
    .back_arrow{
        position: absolute;
        top: 40%;
        left: 1rem;
        font-size: 4rem;
        color: #3b7474;
        transition: all 0.5s ease;
    }
    .back_arrow:hover{
        transform: scale(1.2,1.2);
        color: #3b7474;
        
    }
    @media(max-width:700px){
        .back_arrow{
            font-size: 3rem;
        }
    }
    @media(max-width:500px){
        .back_arrow{
            font-size: 2rem;
            top: -35px;
        }
    }
</style>
<a href="./../" class="back_arrow"><i class='bx bxs-left-arrow-circle' style="color: #3b7474;"></i></a>
<form method="POST" style="margin: 120px auto;">
    {% csrf_token %}
   
        <div class="tostrip">
            Edit Question
        </div>
     <div class="main_box">
        <div class="type_box">
            <div class="tipe">
                Type:
                <select id="type" name="type">
                    <option id="S" value="s">Objective Type Question</option>
                    <option id="M" value="m">Multiple Correct Question</option>
                    <option id="I" value="i">Integer Type Question</option>
                </select>
            </div>
            <div class="level">
                Level:
                <select name="level">
                    <option value="e">Easy</option>
                    <option value="m">Medium</option>
                    <option value="h">Hard</option>
                </select>
            </div>
            {% ifequal createlink.ttype "s" %}
            <input type="number" id="quantity" style="display: none;" value="60" name="time">
            {% else %}
            <div class="time">
                Time(s):
                <input type="number" id="quantity" value="{{questiondata.time}}" name="time" min="1" max="360"><br>
            </div>
            {%endifequal%}
        </div>
        <textarea name="question" type="text" class="question" id="question" placeholder="Write the question here"
            rows="2" cols="50">{{questiondata.question}}</textarea>
        {%if questiondata.img%}
        <div>
            <img class="questionimg" src="../../../media/{{questiondata.img}}" alt="">
        </div>
        {%endif%}


        <div id='options_doing'>
            {%for opt in questiondata.options %}
            {%ifequal opt ""%}
            {%else%}
            <div class="option_line">
                <input type="checkbox" class="correct">
                <input class="options_written" value="{{opt}}" placeholder="Option">
                <button type="button" class="delete_opt"><i class="bx bx-trash"></i></button>
            </div>
            {%endifequal%}
            {%endfor%}
        </div>
        <button type="button" class="add-option" id='BUTTON'>
           <i class='bx bx-plus'></i>Add option
        </button>
        <input type="text" id="hide" name="correct" value="{{questiondata.correct}}" placeholder="Correct answer">
        <div class="explanation">
            Explanation
            <textarea type="text" id="exp" class="resize fix" name="explanation"
                min="1" max="1000" placeholder="explanation">{{questiondata.explanation}}</textarea>
        </div>
        <div id="ending_options">
            <textarea data-row=0 class="options_all" name="options" style="display: none;"
                placeholder="Option">{{questiondata.options}}</textarea>
        </div>
        
        <div class="last">
            <input class="btn" id='save_btn' type="submit" value='Save' placeholder="save">
        </div>

</form>

</div>
<script src ="{%static 'public/new.js'%}">
</script>
<script>
    typeofque = "{{questiondata.type}}"
    function typesetter() {
        if (typeofque === "i") {
            document.getElementsByName("type")[0].selectedIndex = 2;
            document.getElementById("options_doing").style = "display:none";
            document.getElementById("BUTTON").style.display = "none";
        }
        if (typeofque === "m") {
            document.getElementsByName("type")[0].selectedIndex = 1;
            document.getElementById("options_doing").style = "display:flex; flex-direction:column;";
            document.getElementById("BUTTON").style.display = "block";
            for (let i = 0; i < document.getElementById('options_doing').children.length; i++) {
                let value = document.getElementsByClassName('options_written')[i].value;
                document.getElementById('options_doing').children[i].innerHTML = `<input type="checkbox" class="correct" name="selection"> <input class="options_written" value="${value}" placeholder="Option"> <button type="button" class="delete_opt"><i class="bx bx-trash"></i></button>`;
            }
        }
        if (typeofque === "s") {
            document.getElementsByName("type")[0].selectedIndex = 0;
            document.getElementById("options_doing").style = "display:flex; flex-direction:column;";
            document.getElementById("BUTTON").style.display = "block";
            for (let i = 0; i < document.getElementById('options_doing').children.length; i++) {
                let value = document.getElementsByClassName('options_written')[i].value;
                document.getElementById('options_doing').children[i].innerHTML = `<input type="radio" class="correct" name="selection"> <input class="options_written" value="${value}" placeholder="Option"> <button type="button" class="delete_opt"><i class="bx bx-trash"></i></button>`;
            }
        }
    }
    typesetter()
    
    cors = document.getElementsByClassName("correct");
    let answerdata = "{{questiondata.correct}}".split('+');
    let correctans = document.getElementsByClassName('option_line');
    for (let i = 0; i < answerdata.length; i++) {
        correctans[answerdata[i].charCodeAt(0) - 97].children[0].checked = true;
    }
</script>

{% endblock content %}
{%block scripts%}

{%endblock%}
