{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{static 'exam/favicon.ico'}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'users/register.css'%}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <title>Aim2Crack-Register</title>
</head>
<style>
.alert-success{
 
      color: #00d000;
    background-color: #d5ffd5;
   
     border: 3px solid  #00d000;
}
.alert-error{
 color:#ff2121;
   
    background: #ffc5c5;
       border: 3px solid #ff2121;
}
.alert{
    margin-bottom: 10px;
    font-weight: bold;
  margin-top: 2rem;
    padding: 7px;
 
    border-radius: 10px;
}
</style>
<body>
  
    <div class="register_container">
   {% if messages %}
    {% for message in messages%}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
      
        <div class="register_box">
            <a href="{%url 'exam-home'%}"><i class='bx bxs-home'></i></a>
            <div class="left_panel">
                <h2>Register Yourself on Aim2Crack!!</h2>
               
                <form method="POST" class="form_method">
                    {%csrf_token%}

                    <fieldset class="form-group bottom_error">
                        <div class="rules_1">
                            <small id="hint_id_username" class="form-text text-muted instruction"> Required. 150
                                characters or fewer.
                                Letters
                                only.</small>
                        </div>
                        <div class="rules_2">
                            <small id="hint_id_password1" class="form-text text-muted">
                                <ul class="instruction">
                                    <!-- <li id = similar>Your password can’t be too similar to your other personal information.</li> -->
                                    <li id='small'>Your password must contain at least 8 characters.</li>
                                    <!-- <li id = common>Your password can’t be a commonly used password.</li> -->
                                    <li id='entire'>Your password can’t be entirely numeric.</li>
                                </ul>
                            </small>
                        </div>
                        <div class="rules_3">
                            <small id="hint_id_password2" class="form-text text-muted instruction"> Enter the same
                                password as before, for
                                verification.</small>
                        </div>


                        <div id="div_id_username" class="input">





                            <input type="text" name="username" maxlength="150" autofocus
                                class="textinput textInput form-control" required id="id_username" placeholder=" ">

                            <label for="" class="form__label">Username</label>






                        </div>
                        <div id="div_id_email" class="input">





                            <input type="email" name="email" class="emailinput form-control" required id="id_email"
                                placeholder=" ">
                            <label for="" class="form__label">Email</label>

                        </div>
                        <div class="input " id="div_id_password1">



                            <input type="password" onfocus=password() name="password1" autocomplete="new-password"
                                class="textinput textInput form-control  id_password1" onkeydown="" required
                                id="id_password1" placeholder=" ">
                            <label for="" class="form__label" id="password_label">Password</label>
                            <span class="eye" onclick="myFunction()">


                                <i id="hide1" class="bi bi-eye-fill"></i>
                                <i id="hide2" class="bi bi-eye-slash-fill"></i>
                            </span>


                        </div>
                        <div id="div_id_password2" class="input">


                            <input type="password" name="password2" autocomplete="new-password"
                                class="textinput textInput form-control id_password2" onkeyup=password() required
                                id="id_password2" placeholder=" " onchange="myFunction0">
                            <label for="" class="form__label" id="password_label2">Password Confirmation</label>
                            <span class="eye" onclick="myFunction1()">


                                <i id="hide12" class="bi bi-eye-fill"></i>
                                <i id="hide22" class="bi bi-eye-slash-fill"></i>
                            </span>

                        </div>
                        <div class="input" id="roll">
                            <input type="text" name="roll_no" placeholder=" " class="form-control">
                            <label for="" class="form__label">Roll Number/Employee Id</label>
                        </div>
                        <div id="institute" class="input">

                            <input type="text" name="college" placeholder=" " class="form-control">
                            <label for="" class="form__label">College Name</label>
                        </div>
                        <div id="profile_name" class="input-box">
                      
                         Profile:
                         <select id="type" name="role">
                             <option id="S" value="s" selected>Student</option>
                             <option id="S" value="t" >Teacher</option>
                         </select>

                </div>
                       
                        <div class="sign">
                            <button class="btn btn-outline-info" type="submit" onclick="checkpassword()">Sign
                                Up</button>
                        </div>
                    </fieldset>
                </form>
            </div>


            <div class="right_panel">

                <img src="{% static 'users/undraw_maker_launch_crhe.svg'%}" alt="">

                <div class="border-top pt-3">
                    <small class="text-muted">
                        <h3> Already have an account ?</h3>
                        <div class="sign_in">

                            <a class="ml-2" href="{%url 'login' %}">Sign In</a>
                        </div>
                    </small>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script src="/static/exam/code_generator.js"></script>
    <script>
        
       function profiled(){
      if(document.getElementById('type').value == 't'){
        document.getElementById('roll').style.display = "none";
      }
      else{
        document.getElementById('roll').style.display = "block";
      }
    };

            
            
        document.querySelector('#id_email');
        let inputuser = document.querySelector("#id_username");
        let text = document.querySelector(".rules_1")
        let inputuser1 = document.querySelector("#id_password1");
        let text1 = document.querySelector(".rules_2")
        let inputuser2 = document.querySelector("#id_password2");
        let text2 = document.querySelector(".rules_3");



        function checking() {
            inputuser.onfocus = function () {
                text.classList.add("active");
                document.querySelector(".rules_1").style.display = "inline";
            }
            inputuser.onblur = function () {
                text.classList.remove("active");
                document.querySelector(".rules_1").style.display = "none";
            }
            inputuser1.onfocus = function () {
                text1.classList.add("active");
                document.getElementById('div_id_password1').style.border = "2.5px solid #2eb7b6";
                document.getElementById('hide1').style.color = " #2eb7b6";
                document.getElementById('hide2').style.color = " #2eb7b6";
            }
            inputuser1.onblur = function () {
                text1.classList.remove("active");
                document.getElementById('div_id_password1').style.border = "2px solid #acacac";
                document.getElementById('hide2').style.color = " #acacac";
                document.getElementById('hide1').style.color = " #acacac";
            }
            inputuser2.onfocus = function () {
                text2.classList.add("active");
                document.getElementById('div_id_password2').style.border = "2.5px solid #2eb7b6";
                document.getElementById('hide22').style.color = " #2eb7b6";
                document.getElementById('hide12').style.color = " #2eb7b6";
            }
            inputuser2.onblur = function () {
                text2.classList.remove("active");
                document.getElementById('div_id_password2').style.border = "2px solid #acacac";
                document.getElementById('hide12').style.color = " #acacac";
                document.getElementById('hide22').style.color = " #acacac";
            }
        }


        function myFunction0() {
            var x0 = document.getElementById("id_password1");
            var y0 = document.getElementById("id_password2");
            var z0 = document.getElementById("hint_id_password2");
            if (y0.value == x0.value) {
                z0.style.display = "none";
            } else {
                z0.style.display = "inline-block";
            }
        }

        function myFunction() {
            var x = document.getElementById("id_password1");
            var y = document.getElementById("hide1");
            var z = document.getElementById("hide2");
            if (x.type === "password") {
                x.type = "text";
                y.style.display = "block";
                z.style.display = "none";
            } else {
                x.type = "password";
                y.style.display = "none";
                z.style.display = "block"
            }
        }

        function myFunction1() {
            var x1 = document.getElementById("id_password2");
            var y1 = document.getElementById("hide12");
            var z1 = document.getElementById("hide22");
            if (x1.type === "password") {
                x1.type = "text";
                y1.style.display = "block";
                z1.style.display = "none";
            } else {
                x1.type = "password";
                y1.style.display = "none";
                z1.style.display = "block"
            }
        }

        function password() {
            let y = document.getElementById('id_password1');
            if (y.value.length < 8) {
                document.getElementById('small').style.display = 'inline-block';
            }
            if (y.value.length >= 8) {
                document.getElementById('small').style.display = 'none';
            }
            let x = y.value;
            if (isFinite(y.value)) {
                document.getElementById('entire').style.display = 'inline-block';
            } else {
                document.getElementById('entire').style.display = 'none';
            }

            if ((document.getElementById('entire').style.display == 'none' && document.getElementById('small').style
                .display ==
                'none') || (!text1.classList.contains("active"))) {
                document.getElementsByClassName('rules_2')[0].style.display = 'none';
            } else {
                document.getElementsByClassName('rules_2')[0].style.display = 'inline';
            }
        }


        function all() {
            checking();
            myFunction0();
            password();
        }

        setInterval(all, 100);
    </script>
</body>

</html>
