{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aim2Crack-Placement Talks</title>
    <link rel="icon" href="{%static 'exam/favicon.ico'%}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{%static 'talks/talks.css'%}">
    
    <script src="https://kit.fontawesome.com/4d0c408dff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .icons a {
            text-decoration: none;
        }


        .one {
            display: none;
        }

        .third {
            display: none;
        }

        #addit {
            display: none;
            width: 30%;
            margin: 100px auto;
        }

        input {
            display: block;
            margin: 7px auto;
            width: 90%;
            padding: 5px;
            border-radius: 10px;
            text-align: center;
        }

        #main {
            display: block;
        }

        .headddd {
            margin-top: 0px;
        }

        #add-entry {
            margin-top: 100px;
            display: block;
        }

        #edit_some {
            margin-top: 100px;
            width: 400px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }
    </style>
</head>

<body>
    <div class="heading">
      <!-- navbar of the site  -->
      <header>
        <img class="logo" src="{% static 'exam/Aim2Crack-logo-1.png'%}" alt="logo" title="home" >

        <nav class="main-menu">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
{% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content">
                        <a href="https://www.aim2crack.in/c/some/">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
 {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content">
                         <a href="{%url 'placement'%}" >
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                       
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'team'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}">
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="#" >
                            <span>Resources</span>
                            <small>Tutorials to aid!</small>
                        </a>
                    </div>
                </li>

                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>

        <div class="click-dropdown profile-dropdown">
            <button onclick="myFunction()" class="click-dropbtn">
                <a >
                    <span class="material-icons md-24">
                        person
                    </span>
                    {% if user.is_authenticated %}
                    <p class="profile_nav">
                        Profile
                    </p>
                     {%else%}
                     <p class="profile_nav">
                        Signup
                    </p>
                    {%endif%}
                    <span class="material-icons-outlined">
                        expand_more
                    </span>
                </a>
            </button>
            <div id="myDropdown" class="click-dropdown-content">
 {% if user.is_authenticated %}
                <a href="{%url 'profile' request.user.profile.id %}" >
                    <span class="btn-txt">Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'logout'%}" >
                    <span class="btn-txt">Logout</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%else%}
<a href="{%url 'register'%}" >
                    <span class="btn-txt">Create Account</span>
                    <span class="material-icons-outlined md-18">
                        manage_accounts
                    </span>
                </a>
                <a href="{%url 'login'%}" >
                    <span class="btn-txt">LogIn</span>
                    <span class="material-icons-outlined md-18">
                        logout
                    </span>
                </a>
 {%endif%}
            </div>
        </div>

        <span class="ham" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav class="main-menu-1">
            <ul class="nav_links">
                <li><a href="{%url 'exam-home'%}">Home</a></li>
 {% if user.is_authenticated%}
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Quizzes</a>
                    <div class="dropdown-content">
                        <a href="{%url 'quizzes'%}">
                            <span>Create Quiz</span>
                            <small>Analyze results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Subjective Quiz</span>
                            <small>View past results</small>
                        </a>
                        <a href="{%url 'quizzes'%}" >
                            <span>Placement Quiz</span>
                            <small>View past results</small>
                        </a>
                    </div>
                </li>
   {%endif%}
                <!-- DROPDOWN - HR, Interviews, Aptitude -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Placements</a>
                    <div class="dropdown-content">
                        <a href="{%url 'placement'%}" >
                            <span>HR Questions</span>
                            <small>Commonly asked interview questions</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Guesstimates</span>
                            <small>Try your reasoning skills</small>
                        </a>
                        <a href="{%url 'placement'%}" >
                            <span>Puzzles</span>
                            <small>Test your logical thinking</small>
                        </a>
                        <a href="{%url 'placement'%}">
                            <span>Apt Crack</span>
                            <small>Test your quants knowledge</small>
                        </a>
                    </div>
                </li>


                <li><a href="{% url 'placement-talks'%}">Talks</a></li>

                <!-- DROPDOWN - About Us, Meet Our Team, Contact Us -->
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">About</a>
                    <div class="dropdown-content">
                        <a href="{%url 'about'%}" >
                            <span>About Us</span>
                            <small>Know our story</small>
                        </a>
                        <a href="{%url 'about'%}">
                            <span>Team</span>
                            <small>Meet our superheroes</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Contact</span>
                            <small>Join us/Reach us</small>
                        </a>
                        <a href="{%url 'contact'%}" >
                            <span>Resources</span>
                            <small>Tutorials to aid</small>
                        </a>
                    </div>
                </li>
{% if user.is_authenticated %}
                <li><a href="{%url 'profile' request.user.profile.id %}">Account</a></li>
                <li><a href="{%url 'logout'%}">Logout</a></li>
  {%else%}
                <li><a href="{%url 'register'%}">Create Account</a></li>
                <li><a href="{%url 'login'%}">LogIn</a></li>
{%endif%}
                <!-- SEARCH BAR on CLICKING SEARCH ICON -->
            </ul>
        </nav>


    </div>


 
        {%if request.user.is_staff or request.user.is_superuser%}
        <button type="button" id="add-entry">Add Placed Person</button>
        <section id="addit">
            <button type="button" id="back">Back</button>
            <form action="../talk-add/" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="text" name=name placeholder="name">
                <input type="text" name=title placeholder="title">
                <input type="datetime-local" name=time>
                DP : <input type="file" name="dp" placeholder="DP" accept="image/*">
                Placed : <input type="file" name="placed" placeholder="Company logo" accept="image/*">
                <input type="text" name=fb placeholder="fb">
                <input type="text" name=insta placeholder="insta">
                <input type="text" name=github placeholder="github">
                <input type="text" name=linkedin placeholder="linkedin">
                <input type="text" name=tweeter placeholder="tweeter">
                <input type="text" name=ytlink placeholder="Yt Link">
                <input type="text" name=embed placeholder="YT embed link">
                <input type="submit" value="Submit">
            </form>
        </section>
        {%endif%}
        <section id="main">
            <div class="headddd">
                <h3>Placement Talks</h3>
            </div>

            {%for each in top%}
            <div class="info_about ">
                <div class="photo_with_video">
                    <div class="back_circle"></div>
                    <div class="upper_circle" id="bshilpy"
                        style="background-image: url('./../../../media/{{each.placed}}');">
                    </div>
                    <div class="top_circle" id="shipy" style="background-image: url('./../../../media/{{each.dp}}');">

                        <div class="click">
                            <p class="one">click to watch</p>
                            <p class="two">Coming Soon</p>
                            <a href="{{each.ytlink}}"><i class='bx bxl-youtube'></i></a>
                        </div>
                    </div>
                </div>
                <div class="info_company">
                    <div class="name_links">
                        <div class="name_speaker">
                            <h2 class="placed_person">{{each.name}}</h2>

                        </div>
                        <div class="links">

                            {%if each.fb%}
                            <a href="{{each.fb}}" class="facebook">

                                <i class='bx bxl-facebook-circle'></i>
                            </a>
                            {%endif%}

                            {%if each.insta%}
                            <a href="{{each.insta}}" class="instagram">
                                <i class='bx bxl-instagram'></i>
                            </a>
                            {%endif%}

                            {%if each.linkedin%}
                            <a href="{{each.linkedin}}" class="linkedin">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                            {%endif%}
                            {%if each.github%}
                            <a href="{{each.github}}" class="github">
                                <i class='bx bxl-github'></i>
                            </a>
                            {%endif%}
                            {%if each.tweeter%}
                            <a href="{{each.tweeter}}" class="github">
                                <i class='bx bxl-twitter'></i>
                            </a>
                            {%endif%}
                        </div>
                    </div>
                    <hr>
                    <div class="about_speaker third">
                        <p class="ttl">{{each.title}}</p>
                    </div>
                    <div class="timer time">
                        <h3>COMING SOON</h3>
                        <div id="timer">
                            <div id="da" class="timer_real">
                                <p class="timer_d"></p>
                                <p class="label">
                                    Days
                                </p>
                            </div>
                            <div id="hou" class="timer_real">
                                <p class="timer_h"></p>
                                <p class="label">
                                    Hours
                                </p>
                            </div>
                            <div id="min" class="timer_real">
                                <p class="timer_m"></p>
                                <p class="label">
                                    Minutes
                                </p>
                            </div>
                            <div id="se" class="timer_real">
                                <p class="timer_s"></p>
                                <p class="label">
                                    Seconds
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            {%if request.user.is_staff or request.user.is_superuser%}
            <p class="fba" style="display: none;">{{each.fb}}</p>
            <p class="instaa" style="display: none;">{{each.insta}}</p>
            <p class="linkedina" style="display: none;">{{each.linkedin}}</p>
            <p class="tweetera" style="display: none;">{{each.tweeter}}</p>
            <p class="gita" style="display: none;">{{each.github}}</p>
            <p class="tme" style="display: none;">{{each.time}}</p>
            <p class="ita" style="display: none;">{{each.id}}</p>
            <p class="yta" style="display: none;">{{each.ytlink}}</p>
            <p class="ema" style="display: none;">{{each.embed}}</p>
            <button class="edit" onclick=each(0) type="button">Edit</button>
            <form action="../talk-del/" method="post">
                {%csrf_token%}
                <input type="number" style="display: none;" name=id value={{each.id}}>
                <button class="delete" type="submit">Delete</button>
            </form>
            {%endif%}
            {%endfor%}

        </section>
        <div class="all_in">
            {%for each in rem%}
            <div class="filterDiv A-E">
                <div class="container">
                    <div class="front">
                        <div class="back"></div>
                        <div class="company" id="anchal" style="background-image: url('../../../media/{{each.placed}}');"></div>
                        <div class="profile" id="anch" style = "background-image: url('../../../media/{{each.dp}}');"></div>
                    </div>

                    <div class="overlay">
                        <div class="content">
                            <div class="name">
                                <h2>{{each.name}}</h2>
                            </div>
                            <div class="info">
                                <p style="margin: 0;">{{each.title}}</p>
                            </div>
                            <div class="links1">
                                {%if each.fb%}
                                <a href="{{each.fb}}" class="facebook1">

                                    <i class='bx bxl-facebook-circle facebook1_i'></i>
                                </a>
                                {%endif%}
                                {%if each.tweeter%}
                                <a href="{{each.tweeter}}" class="twitter1">

                                    <i class='bx bxl-twitter twitter1_i'></i>
                                </a>
                                {%endif%}

                                {%if each.insta%}
                                <a href="{{each.insta}}"
                                    class="instagram1">
                                    <i class='bx bxl-instagram instagram1_i'></i>
                                </a>
                                {%endif%}

                                {%if each.linkedin%}
                                <a href="{{each.linkedin}}" class="linkedin1">
                                    <i class='bx bxl-linkedin linkedin1_i'></i>
                                </a>
                                {%endif%}

                                {%if each.github%}
                                <a href="{{each.github}}" class="github1">
                                    <i class='bx bxl-github github1_i'></i>
                                </a>
                                {%endif%}
                            </div>
                            <div class="click1">
                                {%if each.ytlink%}<a href="{{each.ytlink}}" target="_blank">Click to
                                    watch</a>
                                    {%else%}
                                    <a href="#">Coming soon</a>
                                    {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>


        {%for eachs in some%}
        {{eachs}}
        {%endfor%}
        {%if request.user.is_staff or request.user.is_superuser%}
        <section id="edit_some">
            <button type="button" id="backbtn">back</button>
            <form action="../talk-edit/" method="POST" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="number" style="display: none;" id="edit-id" name="id">
                <input type="text" name=name placeholder="name">
                <input type="text" name=title placeholder="title">
                <input type="datetime-local" name=time>
                <!-- DP : <input type="file" name="dp" placeholder="DP" accept="image/*" value="">
                Placed : <input type="file" name="placed" placeholder="Company logo" accept="image/*"> -->
                <input type="text" name=fb placeholder="fb">
                <input type="text" name=insta placeholder="insta">
                <input type="text" name=github placeholder="github">
                <input type="text" name=linkedin placeholder="linkedin">
                <input type="text" name=tweeter placeholder="tweeter">
                <input type="text" name=ytlink placeholder="YT link">
                <input type="text" name=embed placeholder="YT embed link">
                <input type="submit" value="Submit">
            </form>
        </section>
        {%endif%}


        <script>
            // console.log(document.getElementsByClassName("timer_d")[0]);
            function auto_it(time, xa) {
                var dest = new Date(time).getTime();
                var x = setInterval(function () {
                    var now = new Date().getTime();
                    var diff = dest - now;
                    var days = Math.floor(diff / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((diff % (1000 * 60)) / 1000);
                    document.getElementsByClassName("timer_d")[xa].innerText = days + ": "
                    document.getElementsByClassName("timer_h")[xa].innerText = hours + ": "
                    document.getElementsByClassName("timer_m")[xa].innerText = minutes + ": "
                    document.getElementsByClassName("timer_s")[xa].innerText = seconds + "s "

                    if (Math.floor(diff / 1000) <= 0) {
                        document.getElementsByClassName("time")[xa].style.display = "none";
                        document.getElementsByClassName("third")[xa].style.display = "inline-block";
                        document.getElementsByClassName("one")[xa].style.display = "inline-block";
                        document.getElementsByClassName("two")[xa].style.display = "none";
                        clearInterval(x);
                    }
                }, 1000);
            }

            arr = [];
            op = [];
            time_got = document.getElementsByClassName("tme");
            for (let itr = 0; itr < time_got.length; itr++) {
                arr.push(time_got[itr].innerText)
            }

            {%for each in top %}
            arr.push("{{each.time}}".replace("T", "  "))
            {% endfor %}
            for (i = 0; i < arr.length; i++) {
                auto_it(arr[i], i)
            }
            {%if request.user.is_staff or request.user.is_superuser %}
            add_entry = document.getElementById("add-entry")
            add_entry.addEventListener("click", () => {
                add_entry.style.display = "none";
                document.getElementById("main").style.display = "none";
                document.getElementById("addit").style.display = "block";
            })
            document.getElementById("back").addEventListener("click", () => {

                document.getElementById("back").style.display = "none";
                document.getElementById("main").style.display = "block";
                document.getElementById("add-entry").style.display = "block";
                document.getElementById("addit").style.display = "none";
            })


            editbtn = document.getElementsByClassName("edit")
            for (i = 0; i < editbtn.length; i++) {
                editbtn[i].id = "some_" + i;
                editbtn[i].outerHTML = editbtn[i].outerHTML.replace("each(0)", "each(" + i + ")")
            }
            document.getElementById("backbtn").addEventListener("click", () => {
                document.getElementById("backbtn").style.display = "none";
                document.getElementById("main").style.display = "block";
                document.getElementById("edit_some").style.display = "none";
            })
            function each(i) {
                document.getElementById("backbtn").style.display = "block";
                document.getElementById("main").style.display = "none";
                document.getElementById("edit_some").style.display = "block";
                document.getElementById("edit-id").value = document.getElementsByClassName("ita")[i].innerText
                document.getElementsByName("name")[1].value = document.getElementsByClassName("placed_person")[i].innerText
                document.getElementsByName("title")[1].value = document.getElementsByClassName("ttl")[i].innerText
                document.getElementsByName("time")[1].value = document.getElementsByClassName("tme")[i].innerText
                document.getElementsByName("fb")[1].value = document.getElementsByClassName("fba")[i].innerText
                document.getElementsByName("insta")[1].value = document.getElementsByClassName("instaa")[i].innerText
                document.getElementsByName("github")[1].value = document.getElementsByClassName("gita")[i].innerText
                document.getElementsByName("linkedin")[1].value = document.getElementsByClassName("linkedina")[i].innerText
                document.getElementsByName("tweeter")[1].value = document.getElementsByClassName("tweetera")[i].innerText
                document.getElementsByName("ytlink")[1].value = document.getElementsByClassName("yta")[i].innerText
                document.getElementsByName("embed")[1].value = document.getElementsByClassName("ema")[i].innerText
            }

            {% endif %}
        </script>



        <!-- ************************** -->


   <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


</body>

</html>
